@font-face {
  font-family: "OpenSans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
}

:root {
  --main-content-padding: 0 15px;
  --main-content-width: 1200px;
}

h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

._hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: "OpenSans", "Arial", sans-serif;
  font-kerning: none;
  background-color: #ffffff;
}

.header {
  position: relative;
  z-index: 0;
  padding: 28px 0 127px 0;
  color: #ffffff;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.header::after {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  content: "";
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--main-content-width);
  box-sizing: border-box;
  padding: var(--main-content-padding);
  margin: 0 auto;
}

.logo {
  display: flex;
  width: 179px;
}

.logo img {
  width: 100%;
  height: auto;
}

.menu-button {
  display: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
}

.menu-item {
  font-size: 13px;
  text-transform: uppercase;
}

.menu-item:nth-child(n + 2) {
  margin-left: 34px;
}

.menu-item a:hover {
  text-decoration: underline;
}

.intro-title {
  max-width: 700px;
  margin: 103px auto 0;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.667;
  text-align: center;
  text-transform: uppercase;
}

.main {
  width: 778px;
}

.trending {
  width: 100%;
  margin-top: 57px;
}

.section-title {
  display: block;
  color: #0f0d0e;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  display: block;
  height: 3px;
  width: 66px;
  margin: 10px auto 0 auto;
  border: 0;
  background-color: #e1d9bd;
  content: "";
}

.trends-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  width: 100%;
}

.trend-card {
  position: relative;
  display: flex;
  align-items: end;
  width: calc(25% - 4px);
  min-height: 320px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.card1 {
  background-image: url('../images/trend1.jpg');
}

.card2 {
  background-image: url('../images/trend2.jpg');
}

.card3 {
  background-image: url('../images/trend3.jpg');
}

.card4 {
  background-image: url('../images/trend4.jpg');
}

.trend-card::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  content: "";
}

.trend-content {
  box-sizing: border-box;
  width: 90%;
  padding: 8% 7.8%;
  margin: 4% 5%;
  border: 3px solid rgba(181, 159, 91, 0.6);
  overflow: hidden;
  z-index: 1;
}

.category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.category:not(:last-child) {
  margin-right: 19px;
}

.category {
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.category a:hover {
  text-decoration: underline;
}

.trend-title {
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.trend-title a:hover {
  color: #b59f5b;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: var(--main-content-width);
  padding: var(--main-content-padding);
  margin: 64px auto 22px auto;
}

.post {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-bottom: 55px;
}

.post:last-child {
  margin-bottom: 27px;
}

.post-img img {
  width: 381px;
  height: auto;
  background-color: #eff6f1;
}



.post-title {
  margin-bottom: 29px;
  color: #0f0d0e;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.post-title a:hover {
  color: #b59f5b;
}

.date-author {
  display: flex;
  margin-bottom: 45px;
}

.date {
  display: block;
  font-size: 12px;
  color: #888888;
}

.author {
  margin-left: 12px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.text {
  color: #0f0d0e;
  font-size: 15px;
  line-height: 1.467;
}

.text a {
  color: #b59f5b;
}

.text a:hover {
  text-decoration: underline;
}

.paragraph {
  margin-bottom: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-top: -5px;
}

.latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar .section-title {
  margin-top: 0;
  font-size: 14px;
}

.latest-title {
  color: #0f0d0e;
  font-size: 14px;
  line-height: 1.285;
  font-weight: bold;
  text-transform: uppercase;
}

.latest-title a:hover {
  color: #b59f5b;
}

.latest-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin: 11px 0;
}

.latest-img {
  width: 70px;
  background-color: #f4f7f6;
}

.latest-content {
  width: 182px;
  margin-top: -4px;
}

.search-form {
  width: 100%;
  display: flex;
  margin-top: 49px;
  margin-bottom: 56px;
  position: relative;
}

.label {
  display: block;
  width: 100%;
}

.field {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  padding: 0 18px;
  color: #000000;
  font-size: 13px;
  font-family: inherit;
  background-color: #f4f7f6;
  border: 0;
  border-bottom: 1px solid #ffffff;
}

.search-field {
  z-index: 0;
  padding-right: 66px;
}

.field:focus {
  border-bottom: 1px solid #ebe7d7;
  outline: 0;
}

.button {
  display: block;
  box-sizing: border-box;
  height: 48px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #b59f5b;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: #323232;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 48px;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 16px 15px;
}

.subscribe {
  width: 100%;
  margin-bottom: 56px;
}

.email-field {
  margin: 21px 0 18px;
}

.email-button {
  width: 100%;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin: 21px 0 53px;
  padding: 3px 0;
}

.tag {
  display: block;
  padding: 4px 13px 3px 13px;
  color: #0f0d0e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
}

.tag:hover {
  border-color: #b59f5b;
}

.sidebar-categories {
  width: 100%;
}

.side-category-list {
  width: 100%;
  margin-top: -9px;
}

.side-category {
  display: block;
  width: 100%;
  padding: 12px 0;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 1px solid #eeeeee;
}

.side-category:hover {
  color: #b59f5b;
}

.num {
  margin-left: 4px;
  color: #b59f5b;
  font-size: 85%;
  font-weight: bold;
  vertical-align: 25%;
}

.shop {
  box-sizing: border-box;
  width: var(--main-content-width);
  margin: 0 auto 64px;
  padding: var(--main-content-padding);
}

.shop-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 66px;
  align-items: stretch;
  width: 100%;
}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: calc(33.33% - 59px);
  margin: 0 23px 21px;
}

.shop-img {
  box-sizing: border-box;
  width: 100%;
}

.shop-img img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.shop-card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  width: 100%;
  margin: -15px 18px 0;
  padding: 35px 6px 0;
  outline: 3px solid rgba(181, 159, 91, 0.6);
  outline-offset: 15px;
}

.shop .post-title {
  margin-bottom: 4px;
}

.shop-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 21px 0 10px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: auto;
  font-weight: bold;
}

.fullprice {
  width: 100%;
  margin-bottom: -6px;
  font-size: 14px;
  text-decoration: line-through;
}

.saleprice {
  width: 100%;
  font-size: 20px;
}

.shop-button {
  width: 140px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  max-width: var(--main-content-width);
  margin: 0 auto;
}

.socials {
  width: 100%;
  background-color: #f4f7f6;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 27px;
  padding: 31px;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.icon-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  display: block;
  margin: 70px 0 40px;
  color: #999999;
  font-size: 12px;
  font-weight: bold;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 10, 0.6);
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  box-sizing: border-box;
  width: 390px;
  padding: 47px 30px 52px;
  font-size: 13px;
  background-color: #ffffff;
}

.popup-close {
  position: absolute;
  right: 0px;
  top: -26px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background: no-repeat center / cover url("../svg/form-x.svg");
  border: none;
  cursor: pointer;
}

.popup-label {
  display: block;
}

.select-field {
  padding-right: 35px;
  margin-top: 8px;
  appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: auto 17px;
}

.radiogroup {
  display: flex;
  align-items: baseline;
  justify-content: start;
  gap: 15px;
  margin: 5px auto 2px 0;
}

.radio-text::before {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  background: no-repeat center / contain url("../svg/form-empty-circle.svg");
  content: "";
}

.radiobutton:checked+.radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.popup-textarea {
  box-sizing: border-box;
  height: 131px;
  padding: 16px 23px;
  margin-top: 8px;
  letter-spacing: normal;
  resize: none;
}

.popup-button {
  width: 100%;
}

/* ---------------------- Планшетная версия ---------------------- */
@media (max-width: 1200px) {
  :root {
    --main-content-padding: 0 34px;
    --main-content-width: 100%;
  }

  .header {
    padding: 43px 0 113px 0;
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .logo {
    width: 160px;
  }

  .menu-button {
    display: block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    background-image: url("../svg/menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
  }

  .menu-list {
    display: none;
  }

  .intro-title {
    max-width: 615px;
    margin-top: 90px;
    font-size: 40px;
    line-height: normal;
  }

  .trending {
    margin-top: 45px;
  }

  .section-title {
    font-size: 18px;
  }

  .trends-container {
    flex-wrap: wrap;
    margin-top: -7px;
  }

  @media (orientation: portrait) {
    .trend-card {
      width: calc(50% - 3px);
      min-height: 247px;
    }
  }

  .trend-title {
    font-size: 17px;
  }

  .trend-content {
    padding: 8.6% 8%;
  }

  .inner {
    gap: 40px;
    margin-top: 50px;
  }

  .main {
    flex: 1;
  }

  .post {
    flex-direction: column;
    margin-bottom: 44px;
  }

  .post::after {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    content: "";
  }

  .post:last-child::after {
    display: none;
  }

  .post:last-child {
    margin-bottom: 5px;
  }

  .post-img {
    margin-bottom: 6px;
  }

  .post-img img {
    width: 100%;
  }

  .post-content {
    width: 100%;
    margin-bottom: 8px;
  }

  .post-head {
    width: 100%;
  }

  .post-title {
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.29;
  }

  .date-author {
    margin-bottom: 27px;
  }

  .shop {
    margin: 39px 0 55px;
  }

  .shop-container {
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 28px;
  }

  .shop-card {
    flex-basis: calc(50% - 59px);
  }

  .shop-img img {
    aspect-ratio: 1.27;
  }

  .shop-card-content {
    padding-top: 21px;
    margin-top: -21px;
  }

  .copyright {
    margin-top: 45px;
  }

  .popup-close {
    top: -37px;
    width: 27px;
    height: 27px;
  }

  .radiogroup {
    gap: 33px;
    margin-top: 0;
  }

  .radio-text::before {
    position: relative;
    top: 8px;
    width: 26px;
    height: 26px;
  }
}

/* ---------------------- Мобильная версия ---------------------- */
@media (max-width: 641px) {
  :root {
    --main-content-padding: 0 15px;
  }

  .header {
    padding: 30px 15px 211px;
    background-image: url("../images/banner-mobile.jpg");
  }

  .row {
    flex-direction: column-reverse;
    padding: 0;
  }

  .logo {
    align-self: center;
    width: 270px;
    margin-top: 172px;
  }

  .menu {
    margin: 0 0 0 auto;
  }

  .intro-title {
    max-width: 410px;
    margin-top: 34px;
    font-size: 26px;
  }

  .trending {
    margin-top: 39px;
  }

  .section-title {
    font-size: 16px;
  }

  .section-title::after {
    margin-top: 7px;
  }

  .trends-container {
    margin-top: 25px;
  }

  .trend-card {
    width: 100%;
    min-height: 230px;
  }

  @media (orientation: landscape) {
    .trend-card {
      width: calc(50% - 3px);
      min-height: 247px;
    }
  }

  .trend-content {
    width: 92%;
    margin: 5% 4%;
    padding: 7.4% 5.5%;
  }

  .trend-title {
    margin-top: 10px;
    font-size: 16px;
  }

  .inner {
    flex-direction: column;
    gap: 41px;
    margin-top: 40px;
  }

  .main {
    width: 100%;
  }

  .post {
    margin-bottom: 36px;
  }

  .post:last-child::after {
    display: block;
  }

  .post-title {
    margin: 8px 0 16px;
    font-size: 16px;
    line-height: 1.25;
  }

  .date-author {
    margin-bottom: 14px;
  }

  .post-content {
    margin-bottom: 13px;
  }

  .post .text {
    font-size: 14px;
  }

  .paragraph {
    margin-bottom: 4px;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar .section-title {
    margin-left: -4px;
    margin-bottom: 19px;
    font-size: 16px;
  }

  .latest-post {
    gap: 18px;
  }

  .latest-content {
    flex: 1;
  }

  .search-form {
    margin-bottom: 39px;
  }

  .subscribe {
    margin-bottom: 38px;
  }

  .email-field {
    margin-top: 24px;
  }

  .tag-list {
    margin-bottom: 40px;
  }

  .shop {
    margin: 40px 0 42px;
  }

  .shop-card {
    flex-basis: 100%;
  }

  .shop-img img {
    aspect-ratio: 1;
  }

  .shop-card-content {
    padding-top: 28px;
    margin-top: -19px;
  }

  .popup-content {
    gap: 28px;
    width: 331px;
    padding: 25px 24px 29px;
  }

  .popup-close {
    top: -33px;
  }
}